body{
    background-color:lightgray;
}
img{
    width: 18px;
    height: 13px;
}
.header{
    color: white;
    background-color: green;
    vertical-align: middle;
    border-bottom: 1px solid gray;
    
}
table, td{
    border-collapse: collapse;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}
table{
    border: 1px solid gray;
    width: 35%;
}
.white{
    background-color: white;
}
.grey{
    background-color: bisque;
}
.colborder{
    border-right: 1px solid gray;
}
